.add-task-form{
    width: 600px;
    height: 600px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    background-color: white;
}

.btn-submit{
    background-color: #3333ff;
}

.btn-back{
    float: right;
    color: black;
    background-color: #ccc;
}