.root{
    display: flex;
    flex-direction: column;
    height: 90%;
}

.board{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
    .board-bar{
        background-color: rgba(gray, .5);
        padding: 8px 15px;

        .board-name{
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }
    .board-wrapper{
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-row{
            display: flex;
            flex-grow: 1;

            .board-column{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0;
                min-width: 300px;
                padding: 25px;
                margin: 50px;
                background-color: rgba(white, .5);
                border-radius: 5px;

                &:not(:first-child){
                    margin-left: 0;
                }

                .column-title{
                    font-size: 20px;
                    font-weight: 800;
                    font-family: 'Lato', sans-serif; 
                    text-transform: uppercase;   
                    margin-bottom: 20px;            
                }

                .tasks-container{
                    flex-grow: 1;
                    .task{
                        display: flex;
                        padding: 15px 12px;
                        background-color: white;
                        box-shadow: 1px 1px 3px 1px #ccc;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

