<div class="root">
    <div class="board">
        <div class="board-bar">
            <h3 class="board-name">Board Name</h3>
        </div>
        <div class="board-wrapper">
            <div class="board-row">
                <div class="board-column">
                    <h4 class="column-title">To do</h4>
                </div>
                <div class="board-column">
                    <h4 class="column-title">Doing</h4>
                </div>
                <div class="board-column">
                    <h4 class="column-title">In review</h4>
                </div>
                <div class="board-column">
                    <h4 class="column-title">Done</h4>
                </div>
            </div>
        </div>
    </div>
</div>